<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="css/styles.css">
    <title>LiveStats</title>
    <link rel="icon" href="/img/Logo.png">
    <script src="js/app.js"></script>
    </head>
    <body>
        <div class="main">
        {{>header}} 
        <h1>web page url is not correct</h1>
        </div>
        
        {{>footer}}
    </body>

    
</html>