<!DOCTYPE html>
<html>
    <title>LiveStats</title>
    <link rel="icon" href="/img/Logo.png">
    <link rel="stylesheet" href="css/styles.css">

    </head>
    <body class="{{type}}">
        <div class="header-bg-cover"></div>
        <div class="main-content">
            {{>header}}
            <div class="stats">
                <div class="category">
                    <h2 id="hballPoss">0%</h2>
                    <h2>החזקת כדור</h2>
                    <h2 id="aballPoss">0%</h2>
                </div>
                <div class="category">
                    <h2 id="hattempts">0</h2>
                    <h2>ניסיונות הבקעה</h2>
                    <h2 id="aattempts">0</h2>
                </div>
                <div class="category">
                    <h2 id="honTarget">0</h2>
                    <h2>למסגרת</h2>
                    <h2 id="aonTarget">0</h2>
                </div>
                <div class="category">
                    <h2 id="hcorner">0</h2>
                    <h2>קרנות</h2>
                    <h2 id="acorner">0</h2>
                </div>
                <div class="category">
                    <h2 id="hoffside">0</h2>
                    <h2>נבדלים</h2>
                    <h2 id="aoffside">0</h2>
                </div>
                <div class="category">
                    <h2 id="hfoul">0</h2>
                    <h2>עבירות</h2>
                    <h2 id="afoul">0</h2>
                </div>
                <div class="category">
                    <h2 id="hyellow">0</h2>
                    <h2>צהובים</h2>
                    <h2 id="ayellow">0</h2>
                </div>
                <div class="category">
                    <h2 id="hred">0</h2>
                    <h2>אדומים</h2>
                    <h2 id="ared">0</h2>
                </div>
                <div class="category">
                    <h2 id="hpass">0</h2>
                    <h2>מסירות</h2>
                    <h2 id="apass">0</h2>
                </div>
                <div class="category">
                    <h2 id="hkeypass">0</h2>
                    <h2>מסירות מפתח</h2>
                    <h2 id="akeypass">0</h2>
                </div>
                <div class="category">
                    <h2 id="hattackpass">0</h2>
                    <h2>מסירות מקדמות</h2>
                    <h2 id="aattackpass">0</h2>
                </div>
                <div class="category">
                    <h2 id="hairchallenge">0</h2>
                    <h2>מאבקי אוויר</h2>
                    <h2 id="aairchallenge">0</h2>
                </div>

                <div class="category">
                    <h2 id="hgroundchallenge">0</h2>
                    <h2>מאבקי קרקע</h2>
                    <h2 id="agroundchallenge">0</h2>
                </div>
            </div>
            {{>footer}}
        </div>        
        <script src="js/app.js"></script>
    </body>
   

    
        
    
</html>