<!DOCTYPE html>
<html>
    <title>LiveStats</title>
    <link rel="icon" href="/img/Logo.png">
    <link rel="stylesheet" href="css/styles.css">

    </head>
    <body>
        
        <div class="main-content">
            {{>header}} 
            <div class="teamNames">
                <p1 id="homeName">מארחת</p1>
                <p2 id="awayName">אורחת</p2>
                                
            </div>
            <div class="stats">
                <div class="category">
                    
                    <p5 id="hgoals">0</p5>
                    <p3>שערים</p3>
                    <p4 id="agoals">0</p4>
                    
                    
                <div class="category">
                    <p5 id="hballPoss">0%</p5>
                    <p3>החזקת כדור</p3>
                    <p4 id="aballPoss">0%</p4>
                </div>
                <div class="category">
                    <p5 id="hattempts">0</p5>
                    <p3>ניסיונות הבקעה</p3>
                    <p4 id="aattempts">0</p4>
                </div>
                <div class="category">
                    <p5 id="honTarget">0</p5>
                    <p3>למסגרת</p3>
                    <p4 id="aonTarget">0</p4>
                </div>
                <div class="category">
                    <p5 id="hcorner">0</p5>
                    <p3>קרנות</p3>
                    <p4 id="acorner">0</p4>
                </div>
                <div class="category">
                    <p5 id="hoffside">0</p5>
                    <p3>נבדלים</p3>
                    <p4 id="aoffside">0</p4>
                </div>
                <div class="category">
                    <p5 id="hfoul">0</p5>
                    <p3>עבירות</p3>
                    <p4 id="afoul">0</p4>
                </div>
                <div class="category">
                    <p5 id="hyellow">0</p5>
                    <p3>צהובים</p3>
                    <p4 id="ayellow">0</p4>
                </div>
                <div class="category">
                    <p5 id="hred">0</p5>
                    <p3>אדומים</p3>
                    <p4 id="ared">0</p4>
                </div>
                <div class="category">
                    <p5 id="hpass">0</p5>
                    <p3>מסירות</p3>
                    <p4 id="apass">0</p4>
                </div>
                <div class="category">
                    <p5 id="hkeypass">0</p5>
                    <p3>מסירות מפתח</p3>
                    <p4 id="akeypass">0</p4>
                </div>
                <div class="category">
                    <p5 id="hattackpass">0</p5>
                    <p3>מסירות מקדמות</p3>
                    <p4 id="aattackpass">0</p4>
                </div>
                <div class="category">
                    <p5 id="hairchallenge">0</p5>
                    <p3>מאבקי אוויר</p3>
                    <p4 id="aairchallenge">0</p4>
                </div>
                <div class="category">
                    <p5 id="hgroundchallenge">0</p5>
                    <p3>מאבקי קרקע</p3>
                    <p4 id="agroundchallenge">0</p4>
                </div>
            </div>
        </div>
        {{>footer}}
        
        <script src="js/app.js"></script>
    </body>
   

    
        
    
</html>