
    <header>
        <form>
            <input placeholder = "Game ID..">
            <Button id="button1">Get</Button>
        </form>
        <div class="statsHeader">
            <img id="homeTeamLogo" src="/img/default-team-logo.png" alt="home team logo">
            <h1 id="homeName">מארחת</h2>
            <h1 class="goals" id="hgoals">0</h1>
            <div class="divider"></div>
            <h1 class="goals" id="agoals">0</h1>     
            <h1 id="awayName">אורחת</h1>
            <img id="awayTeamLogo" src="/img/default-team-logo.png" alt="away team logo">
        </div>
    </header>