
    <header>

        <h1> Commentator Screen <img class="logo" src="img/Logo.png" alt="Smiley face" align="right"><br>
         IPFL - מנהלת הליגות לכדורגל </h1>
        
        
 

        <form>
            <input placeholder = "Game ID..">
            <Button id="button1">Get</Button>

        </form>

    </header>