@import "font.css";

:root {
    --text-color: #000430;
    --title: #fff;
    --font-size: 24;
    --goal-bg: hsl(235, 100%, 70%);
    --bg-src: url("/img/bg-primary-league.webp");
    --logo-height: 150px
}

.secondary-league {
    --text-color: #610166;
    --font-size: 24;
    --goal-bg: #c3a9ff;
    --bg-src: url("/img/bg-leumit.png");
    --logo-height: 79px
}

body {
    background-image: var(--bg-src);
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--text-color);
    font-size: var(--font-size);
    font-family: FbOgen;
    margin: 0 auto;
    direction: rtl;
}

.header-bg-cover {
    z-index: 0;
    position: absolute;
    height: 160px;
    width: 100%;
    background: var(--text-color);
}

.main-content { 
    display: grid;
    grid-template-rows: .5fr 2fr .5fr;
    max-width: 1200px;
    margin: auto;
}
.stats {
    width: 90%;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr; 
    align-items: center;
    background: #fff;
}
.statsHeader {
    color: #fff;
    background: var(--text-color);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}
h1 {
    font-size: 36px;
}
h1.goals {
    color: var(--text-color);
    background-color: var(--goal-bg);
    font-size: 42px;
    padding: 0.2rem 1.5rem;
}
.statsHeader img {
    max-height: 100px;
}
header {
    z-index: 1;
    padding-top: 1rem;
    background: var(--text-color);
}

header form {
    padding-bottom: 1rem;
}

.category {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    border-bottom: 1px solid #888888;
    align-items: center;
    height: 36px;
}

.category h2 {
    margin: 0;
}

footer {
    width: 90%;
    margin: 2rem auto 2rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#minhelet-logo {
    max-height: 270px;
}

#liga-logo {
    max-height: var(--logo-height);
}

.divider {
    width: 6px;
    height: 36px;
    background: #fff;
}